
.social__blog{
    background-color: #e17b77;
}
.social__twitter{
    background-color: #00aced;
}
.social__linkedin{
    background-color: #007bb6;
}
.social__facebook{
    background-color: #3b5998;
}
.social__github{
    background-color: #333;
}